body{
    background-color: black;
    color:white;
   
}
h1{
    background-color: black;
    color:white;
    text-align: center;
    margin-top: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500px;
}